@import "../custom";

.main {
    margin-top: 5rem;

    @include media-breakpoint-up(lg){
        margin-top: 7rem;
    }
}

.card {
    width: 100%;
    margin-bottom: 3rem;
}

.subheading {
    margin-bottom: 3rem;
}

.card-text {
    font-size: 0.9rem;

    @include media-breakpoint-up(lg){
        font-size: 1rem;
    }
}

.card-img-top {
    height: 100%;
    max-height: 15rem;
    object-fit: cover;
}